workflows/ai-complete.json
{
  "name": "E-Graphisme AI Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-complete",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook AI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ai-complete"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.message }}"
            },
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "ollama1",
      "name": "Ollama AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "data": {
          "data": "={{ $json.response }}"
        },
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook AI": {
      "main": [[{"node": "Ollama AI", "type": "main", "index": 0}]]
    },
    "Ollama AI": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "id": "eg_ai_complete"
}