workflows/ai-chat.json
{
  "name": "E-Graphisme AI Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ai-chat"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/chat",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messages",
              "value": [{"role": "user", "content": "={{ $json.message }}"}]
            },
            {
              "name": "model",
              "value": "llama3"
            }
          ]
        },
        "options": {}
      },
      "id": "ollama1",
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "data": {
          "data": "={{ $json.message }}"
        },
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [[{"node": "Ollama Chat", "type": "main", "index": 0}]]
    },
    "Ollama Chat": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "id": "eg_ai_chat"
}