workflows/business.json
{
  "name": "E-Graphisme Business Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "contact"
    },
    {
      "parameters": {
        "data": {
          "data": "={{ $json }}"
        },
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "set1",
      "name": "Set Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [[{"node": "Set Status", "type": "main", "index": 0}]]
    },
    "Set Status": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "id": "eg_business"
}